<header>
    <div class="jumbotron jumbotron-fluid mt-5">
        <h1 class="display-4"><p>@ViewBag.Greeting @ViewBag.UserName, Nasılsın?</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium modi cumque esse perspiciatis sapiente natus. Eveniet necessitatibus in iure, laborum sed labore earum, vel culpa facilis modi ad qui magnam!
        </p>
    </div>
</header>