<head>
    <style>
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>

</head>

<div class="navbar navbar-dark bg-dark navbar-expand-sm py-4" style="background-color: lightslategrey;">
    <div class="container">
        <a href="/" class="navbar-brand">Shopapp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/shop/List" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Orders</a>
            </li>
            <li> <a asp-controller="Cart" asp-action="Index" class="nav-link">Sepet</a></li> 
            @if (User.Identity.IsAuthenticated)
            {
            <span class="navbar-text"> Hoş geldiniz.</span>
            }
            else
            {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home/Login">Login</a>
                    <a class="dropdown-item" href="/home/Register">Register</a>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
