<div class="card text-dark mb-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search">
        <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="Search">
        </div>
        <div class="row-center">
            <button type="submit" class="btn btn-warning btn-md mt-3" style= "width: 100%; background-color: darkorange;">Ara</button>
        </div>
        </form>
    </div>
</div>