@model ProductModel

<h1 class="h3">Edit Product</h1>
<hr>

<div class="row">
    <form asp-controller="Admin" asp-action="Edit" method="POST">
        <input type="hidden" name="ProductId" value="@Model.ProductId">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea type="text" class="form-control" asp-for="Description" ></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label"></label>
            <input type="text" class="form-control" asp-for="ImageUrl">
        </div>
        <div class="mb-3">
            <label asp-for="Url" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Url">
            <div id="urlHelper" class="form-text">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Price">
        </div>

        <button type="submit" class="btn btn-primary" value="Save Product">Save Product</button>
    </form>
</div>